*{
    margin: 0px;
    padding: 0px;
}

nav.ygn1{
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 2rem 5rem;
box-sizing: border-box;
border: solid 2px;
}
label {
    
}
nav span{
}